<%- include('./partials/head.ejs') %> 
    <%- include('./partials/header.ejs') %> 
    <form action="/todos/ceateExerciseProfile" method="POST">
      <input
        type="text"
        placeholder="Enter Workout Title"
        name="exerciseTitle"
      />
      <input type="text" placeholder="Workout Item" name="exerciseItem" />
      <input type="submit" />
    </form>
    <%- include('./partials/footer.ejs') %> 

